@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts
{
    <script src="app/require.config.js"></script>
    <script data-main="viewModels/main.js" src="@Url.Content("~/node_modules/requirejs/require.js")"></script>
    @*<script src="@Url.Content("~/viewModels/main.js")"></script>*@
}

<div>
    <div data-bind="text: hello"></div>
</div>
